In [1]:
with open('accounts.txt', mode='w') as accounts:
    accounts.write('100 Jones 24.98\n')
    accounts.write('200 Doe 345.67\n')
    accounts.write('300 White 0.00\n')
    accounts.write('400 Stone -42.16\n')
    accounts.write('500 Rich 224.62\n')
    
    print('100 Jones 24.98', file=accounts)

In [3]:
with open('Jonathans_grades.txt', mode='w') as Jonathans_grades:
    Jonathans_grades.write('1 Red A\n')
    Jonathans_grades.write('2 Green B\n')
    Jonathans_grades.write('3 White A\n')
    
    print('1 Red A', file=Jonathans_grades)

In [5]:
with open('accounts.txt', mode='r') as accounts:
    print(f'{"Account":<10}{"Name":<10}{"Balance":>10}')
    for record in accounts:
        account, name, balance = record.split()
        print(f'{account:<10}{name:<10}{balance:>10}')

Account   Name         Balance
100       Jones          24.98
200       Doe           345.67
300       White           0.00
400       Stone         -42.16
500       Rich          224.62
100       Jones          24.98

In [6]:
with open('Jonathans_grades.txt', 'r') as Jonathans_grades:
    print(f'{"ID":<4}{"Name":<7}{"Grade"}')
    for record in Jonathans_grades:
        student_id, name, grade = record.split()
        print(f'{student_id:<4}{name:<7}{grade}')

ID  Name   Grade
1   Red    A
2   Green  B
3   White  A
1   Red    A